<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>SerlvetDemo</display-name>
  <servlet>
    <servlet-name>myFirstServlet</servlet-name>
    <servlet-class>com.revature.servlet.MyFirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myFirstServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PrintWriterServlet</display-name>
    <servlet-name>PrintWriterServlet</servlet-name>
    <servlet-class>com.revature.servlet.PrintWriterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrintWriterServlet</servlet-name>
    <url-pattern>/print</url-pattern>
  </servlet-mapping>
</web-app>