div{color:red}

.c1{background-color:seagreen}

.demo{
    background-color:springgreen;
    text-align:right;
}

#a{font-family: Veranda, Geneva, Tahoma, sans-serif}

#b{font-family: Georgia, 'Times New Roman', Times, serif;
    text-align:center;
}

div.c1{background-color:pink}